<h2>User info</h2>

<%= form_for(@user) do |f| %>
  <%= render 'layouts/errors', obj: @user %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "name" %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.attachment_field :profile_image, class: "user_image" %>
  </div>

  <div class="field">
    <%= f.label :introduction %>
    <%= f.text_area :introduction, class: "introduction" %>
  </div>

  <p>zip code</p>
  <%= f.text_field :postal_code, id: "user_postcode" %>
  <p>prefecture</p>
  <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, id: 'user_prefecture_code' %>
  <p>city</p>
  <%= f.text_field :address_city, id: 'user_city' %>
  <p>street</p>
  <%= f.text_field :address_street, id: 'user_street' %>
  <p>builbding name</p>
  <%= f.text_field :address_building %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
